# ----------------------------------------------------------------
# uv / Python Virtual Environment
# ----------------------------------------------------------------
# uvが生成する仮想環境フォルダ
.venv/


# ----------------------------------------------------------------
# Python Caches & Logs
# ----------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage


# ----------------------------------------------------------------
# Jupyter Notebook
# ----------------------------------------------------------------
# Notebookのチェックポイント（自動バックアップ）
.ipynb_checkpoints/


# ----------------------------------------------------------------
# OS & Editor specific
# ----------------------------------------------------------------
# macOS
.DS_Store
# Windows
Thumbs.db
# VSCode
.vscode/
# PyCharm / IntelliJ
.idea/


# ----------------------------------------------------------------
# Data & Sensitive Files
# ----------------------------------------------------------------
data/

# ----------------------------------------------------------------
# Build & Distribution
# ----------------------------------------------------------------
build/
dist/
*.egg-info/
